<!DOCTYPE html>
<html>
<head>
    <title>Eat Da Burger!</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css" />
    <!-- JS File -->
    <script src="../../models/burgers.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>