<!DOCTYPE html>
<html>
<head>
    {{!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> --}}
    <title>Eat Da Burger!</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_styles.css" />
    <!-- JS File -->
    <script src="../../models/burgers.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>